#header {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 600ms linear;


    .header-content-list {
        min-height: 44px;
        max-height: 48px;
        padding: 0 4%;
        box-sizing: border-box;

        width: 100%;
        max-width: 980px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .end,
        .logo-container,
        .center,
        .ham-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            &.ham-menu {
                align-self: center;
                position: relative;

                transition: all 800ms linear;

                height: 30px;
                width: 30px;
                .ham-line {
                    width: 17px;
                    height: 1px;
                    background: #fff;
                    transition: all 800ms ease;
                    &:nth-child(1) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-5px);
                    }
                    &:nth-child(2) {
                        position: absolute;
                        bottom: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(5px);
                    }
                }
            }
            &.center {
                flex-grow: 1;
            }
            &.end {
                flex-grow: 0.2;
                @media screen and (max-width: 768px) {
                    flex-grow: 0.1;
                }
                .search {
                    background-position: top;
                    background-image: url("/assets/icons/search.svg");
                }
                .shop {
                    background-image: url("/assets/icons/shop.svg");
                }
            }
        }

        .ham-menu {
            display: none;
        }

        @media screen and (max-width: 768px) {
            .center {
                display: none;
            }
            .ham-menu {
                display: block;
            }
            .search {
                display: none;
            }
        }

        a {
            font-size: 14px;
            line-height: 3.14286;
            font-weight: 300;
            letter-spacing: -0.01em;
            font-family: -apple-system, system-ui, BlinkMacSystemFont;
            color: #f5f5f7;
            opacity: 0.8;
            white-space: nowrap;
            transition: opacity 600ms cubic-bezier(0.25, 0.1, 0.25, 1);

            &:hover {
                opacity: 1;
            }
        }

        .logo,
        .search,
        .shop {
            background-size: 18px 88px;
            background-repeat: no-repeat;
            background-position: center center;
            width: 18px;

            &.logo {
                background-image: url("/assets/icons/apple.svg");
            }
        }
    }

    .search-list {
        z-index: -1;
        display: flex;
        flex-direction: row;
        justify-content: center;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        transition: all 600ms linear;
        input {
            // height: 0;
            opacity: 0;
            font-family: -apple-system, system-ui, BlinkMacSystemFont;
            color: #fff;
            font-size: 17px;
            background-color: transparent;
            border: none;
            &:focus-visible {
                outline: none;
            }
        }
        .search {
            // height: 0;
            opacity: 0;
            background-size: 18px 88px;
            background-repeat: no-repeat;
            width: 60px;
            background-position: bottom;
            background-image: url("/assets/icons/search.svg");
        }
        .close {
            position: relative;

            opacity: 0;
            width: 40px;

            .line {
                position: absolute;
                top: 50%;
                left: 50%;
                // transform: translate(-50%,-50%);
                height: 1px;
                width: 17px;
                background-color: #86868b;
                &:nth-child(1) {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }

    .mobile-header-content {
        opacity: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        transition: all 800ms ease;

        ul {
            list-style: none;
            padding: 0 40px;
            box-sizing: border-box;
            border-top: 1px solid #424245;

            li {
                border-bottom: 1px solid #424245;
                &:nth-last-child(1) {
                    border-bottom: none;
                }
                height: 40px;
                display: flex;
                align-items: center;
                a {
                    color: #f5f5f7;
                    opacity: 0.8;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.isSearching {
        .logo-container {
            z-index: -1;
            opacity: 0;
        }
        .center,
        .end {
            z-index: -1;
            flex-grow: 0;

            a {
                opacity: 0;
            }
        }
        .search-list {
            z-index: 10;
            opacity: 1;

            input,
            .search,
            .close {
                opacity: 1;
            }
        }
    }

    &.isHamOpen {
        background-color: #000;
        // height: 100%;
        justify-content: flex-start;
        max-height: unset;
        .ham-menu {
            justify-content: center;
            .ham-line {
                &:nth-child(1) {
                    transform: translateX(-50%) rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translateX(-50%) rotate(-45deg);
                    // bottom: 50%;
                }
            }
        }

        .mobile-header-content {
            opacity: 1;
            height: 100vh;
        }
    }
}
