<div id="homePage">
    <div class="onlinePromo">
        <span class="line">
            <a href="/shop">
                Shop online
            </a>
            and get Specialist help, free no-contact delivery, and more.
        </span>
    </div>

    <section class="banner light iphone12">
        <h2 class="headline">
            iPhone 12
        </h2>
        <h3 class="subheading">
            Blast past fast.
        </h3>
        <div class="info">
            <p class="pricing">
                From $29.12/mo. for 24 mo. or $699 before trade‑in <sup><a href="#footnote1">1</a></sup>
            </p>
            <p class="carrier">
                Buy directly from Apple with special carrier offers
            </p>
        </div>
        <div class="actions">
            <a class="more">
                Learn More <i class="fa fa-chevron-right"></i>
            </a>
            <a class="buy">
                Buy <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </section>


    <section class="banner dark iphone12pro">
        <h2 class="headline">
            iPhone 12 Pro
        </h2>
        <h3 class="subheading">
            It's a leap year.
        </h3>
        <div class="info">
            <p class="pricing">
                From $41.62/mo. for 24 mo. or $999 before trade‑in <sup><a href="#footnote2">2</a></sup>
            </p>
            <p class="carrier">
                Buy directly from Apple with special carrier offers
            </p>
        </div>
        <div class="actions">
            <a class="more">
                Learn More <i class="fa fa-chevron-right"></i>
            </a>
            <a class="buy">
                Buy <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </section>

    <section class="banner dark ipadpro">
        <h2 class="headline">
            iPad Pro
        </h2>
        <h3 class="subheading">
            Supercharged by the Apple M1 chip.
        </h3>
        <div class="actions">
            <a class="more">
                Learn More <i class="fa fa-chevron-right"></i>
            </a>
            <a class="buy">
                Buy <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </section>

    <div class="products-grid">
        <section class="iMac mini-banner light">
            <h2 class="headline">
                iMac
            </h2>
            <h3 class="subheading">
                Say hello.
            </h3>
            <div class="actions">
                <a class="more">
                    Learn More <i class="fa fa-chevron-right"></i>
                </a>
                <a class="buy">
                    Buy <i class="fa fa-chevron-right"></i>
                </a>
            </div>

        </section>

        <section class="watch mini-banner dark">
            <h2 class="headline image-headline">
                Apple Watch Series 6
            </h2>
            <h3 class="subheading">
                The future of health is on your wrist.
            </h3>
            <div class="actions">
                <a class="more">
                    Learn More <i class="fa fa-chevron-right"></i>
                </a>
                <a class="buy">
                    Buy <i class="fa fa-chevron-right"></i>
                </a>
            </div>

        </section>

        <section class="fitness mini-banner light">
            <h2 class="headline image-headline">
                Apple Fitness Plus
            </h2>
            <h3 class="subheading ">
                A fitness experience for everyone Powered by Apple Watch
            </h3>
            <div class="actions">
                <a class="more">
                    Learn More <i class="fa fa-chevron-right"></i>
                </a>
                <a class="buy">
                    Try it free
                </a>
                <sup><a href="#footnote3">3</a></sup> <i class="fa fa-arrow-right"></i>
            </div>
        </section>

        <section class="one mini-banner light">
            <h2 class="headline image-headline">
                Apple One
            </h2>
            <h3 class="subheading">
                Bundle up to six Apple services. And enjoy more for less.
            </h3>
            <div class="actions">
                <a class="more">
                    Learn More <i class="fa fa-chevron-right"></i>
                </a>
                <a class="buy">
                    Try it free
                </a>
                <sup><a href="#footnote4">4</a></sup> <i class="fa fa-arrow-right"></i>
            </div>
        </section>

        <section class="card mini-banner light">
            <h2 class="headline image-headline">
                Apple Card
            </h2>
            <h3 class="subheading">
                Get upto 3% Daily Cash back with every purchase.
            </h3>
            <div class="actions">
                <a class="more">
                    Learn More <i class="fa fa-chevron-right"></i>
                </a>
                <a class="buy">
                    Apply now <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </section>

        <section class="tv mini-banner dark">
            <h2 class="headline image-headline">
                Apple TV Plus
            </h2>
            <h2 class="subheading">
                Hold on to your humanity.
            </h2>
            <div class="actions">
                <a class="more">
                    Watch the teaser <i class="fa fa-play-circle"></i>
                </a>
            </div>
        </section>

    </div>
</div>